In [1]:
import pandas as pd
import requests
import datetime as dt

/usr/lib/python3/dist-packages/requests/__init__.py:78: RequestsDependencyWarning: urllib3 (1.26.18) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({0}) or chardet ({1}) doesn't match a supported "

In [2]:
# Shakhes Boors
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/Index/GetIndexB1LastAll/SelectedIndexes/1'

response = requests.get(url, headers= headers)
res = response.json()

pd.DataFrame(res['indexB1']) #.loc[0, 'xDrNivJIdx004'] # Shakhese Kole Boors
# pd.DataFrame(res['indexB1']).loc[0, 'xVarIdxJRfV'] # Darsad Taghir Emruz

,insCode,dEven,hEven,xDrNivJIdx004,xPhNivJIdx004,xPbNivJIdx004,xVarIdxJRfV,last,indexChange,lVal30,c1,c2,c3,c4
0,32097828799138957,0,195454,2107272.64,2110327.85,2105844.24,-0.1453,False,-3066.80,شاخص كل,0,0,0,0
1,5798407779416661,0,195452,439959.94,440639.42,439703.24,-0.1548,False,-681.90,شاخص قيمت(وزني-ارزشي),0,0,0,0
2,67130298613737946,0,195454,732646.54,734412.54,732094.91,-0.2407,False,-1767.97,شاخص كل (هم وزن),0,0,0,0
3,8384385859414435,0,195452,413736.87,414902.19,413592.85,-0.2811,False,-1166.43,شاخص قيمت (هم وزن),0,0,0,0
4,49579049405614711,0,195454,2703019.30,2707237.36,2700043.75,-0.1627,False,-4405.99,شاخص آزاد شناور,0,0,0,0
5,62752761908615603,0,195453,1594072.91,1597084.43,1592197.94,-0.1920,False,-3067.04,شاخص بازار اول,0,0,0,0
6,71704845530629737,0,195454,4086204.89,4090081.50,4085617.04,-0.0920,False,-3762.42,شاخص بازار دوم,0,0,0,0

In [31]:
# Shakhes FaraBoors
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/Index/GetIndexB1LastAll/SelectedIndexes/2'

response = requests.get(url, headers= headers)
res = response.json()

pd.DataFrame(res['indexB1']) #.loc[0, 'xDrNivJIdx004'] # Shakhese Kole FaraBoors
# pd.DataFrame(res['indexB1']).loc[0, 'xVarIdxJRfV'] # Darsad Taghir Emruz

,insCode,dEven,hEven,xDrNivJIdx004,xPhNivJIdx004,xPbNivJIdx004,xVarIdxJRfV,last,indexChange,lVal30,c1,c2,c3,c4
0,43685683301327984,0,194513,26294.33,26370.10,26294.33,-0.1432,False,-37.70,شاخص كل فرابورس,0,0,0,0
1,16385144332417446,0,194513,6433.06,6452.23,6433.69,-0.1530,False,-9.86,شاخص قيمت فرابورس,0,0,0,0
2,3454456635278563,0,194513,140624.50,141008.05,140537.42,0.3285,False,460.43,شاخص كل هم وزن فرابورس,0,0,0,0
3,24779787662870476,0,194513,44077.00,44218.26,44070.68,0.2808,False,123.40,شاخص قيمت هم وزن فرابورس,0,0,0,0
4,68337207779130851,0,194513,9038.11,9064.58,9038.11,0.1372,False,12.38,بازار اول فرابورس,0,0,0,0
5,35898516735559137,0,194513,10157.01,10185.56,10157.01,-0.2513,False,-25.59,بازار دوم فرابورس,0,0,0,0

In [7]:
# Sandogh
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/ClosingPrice/GetRelatedCompany/68'

response = requests.get(url, headers= headers)
res = response.json()

pd.DataFrame(res['relatedCompany']).loc[0, 'pDrCotVal'] # Gheymate Lahzei
pd.DataFrame(res['relatedCompany']).loc[0, 'pClosing'] # Gheymate Payani
(pd.DataFrame(res['relatedCompany']).loc[0, 'pClosing'] - pd.DataFrame(res['relatedCompany']).loc[0, 'priceYesterday']) /  pd.DataFrame(res['relatedCompany']).loc[0, 'priceYesterday'] # Darsad Taghire Payani
(pd.DataFrame(res['relatedCompany']).loc[0, 'pDrCotVal'] - pd.DataFrame(res['relatedCompany']).loc[0, 'priceYesterday']) /  pd.DataFrame(res['relatedCompany']).loc[0, 'priceYesterday'] # Darsad Taghire Lahzei

0.009831460674157303

In [74]:
# NAV Ebtal per Code
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/Fund/GetETFByInsCode/17914401175772326'

response = requests.get(url, headers= headers)
res = response.json()

res['etf']['pRedTran'] # NAV Ebtal

In [ ]:
# Historical per Code
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/ClosingPrice/GetClosingPriceDailyList/17914401175772326/0'

response = requests.get(url, headers= headers)
res = response.json()

pd.DataFrame(res['closingPriceDaily'])

In [3]:
headers = { 
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Accept-Encoding": "gzip, deflate, br",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:121.0) Gecko/20100101 Firefox/121.0"
    }

url = f'https://cdn.tsetmc.com/api/Index/GetIndexB2History/32097828799138957'

response = requests.get(url, headers= headers)
res = response.json()

# pd.DataFrame(res['closingPriceDaily'])

In [4]:
res.keys()

dict_keys(['indexB2'])

In [9]:
df = pd.DataFrame(res['indexB2'])

In [10]:
df['Date_Time'] = df['dEven'].astype(str).apply(lambda x: dt.datetime(int(x[:4]), int(x[4:6]), int(x[6:8])))
df['Index_Id'] = df['insCode']
df['Value'] = df['xNivInuPbMresIbs']
df['Previous_Value'] = df['xNivInuClMresIbs']
df['Index_Type'] = 'boors'
df = df[['Index_Id', 'Index_Type', 'Date_Time', 'Value', 'Previous_Value']]

In [15]:
df.drop_duplicates()

               Index_Id Index_Type  Date_Time      Value  Previous_Value
0     32097828799138957      boors 2008-12-04     9233.2          9248.9
1     32097828799138957      boors 2008-12-05     9233.2          9248.9
2     32097828799138957      boors 2008-12-06     9167.8          9178.3
3     32097828799138957      boors 2008-12-07     9130.3          9130.5
4     32097828799138957      boors 2008-12-08     9079.6          9089.2
...                 ...        ...        ...        ...             ...
3657  32097828799138957      boors 2024-01-27  2124130.0       2126829.7
3658  32097828799138957      boors 2024-01-28  2127350.0       2128027.7
3659  32097828799138957      boors 2024-01-29  2120090.0       2120268.0
3660  32097828799138957      boors 2024-01-30  2110330.0       2110339.4
3661  32097828799138957      boors 2024-01-31  2105840.0       2107272.6

[3662 rows x 5 columns]