In [2]:
from etl import *

In [85]:
raw_data = get_tmc_data_by_url('https://cdn.tsetmc.com/api/Index/GetIndexB1LastAll/SelectedIndexes/1')

In [88]:
df = pd.DataFrame(raw_data['indexB1'])

In [92]:
df

,insCode,dEven,hEven,xDrNivJIdx004,xPhNivJIdx004,xPbNivJIdx004,xVarIdxJRfV,last,indexChange,lVal30,c1,c2,c3,c4
0,32097828799138957,0,191318,2045317.92,2060587.04,2045096.75,-0.7932,False,-16353.66,شاخص كل,0,0,0,0
1,5798407779416661,0,191320,420350.90,423513.75,420330.02,-0.7990,False,-3385.75,شاخص قيمت(وزني-ارزشي),0,0,0,0
2,67130298613737946,0,191321,666143.15,669397.95,666139.00,-0.5283,False,-3537.77,شاخص كل (هم وزن),0,0,0,0
3,8384385859414435,0,191319,365974.06,367973.99,366182.51,-0.5855,False,-2155.48,شاخص قيمت (هم وزن),0,0,0,0
4,49579049405614711,0,191320,2645194.49,2666112.29,2645012.07,-0.8435,False,-22500.86,شاخص آزاد شناور,0,0,0,0
5,62752761908615603,0,191319,1594503.77,1608769.25,1594421.57,-0.9620,False,-15487.60,شاخص بازار اول,0,0,0,0
6,71704845530629737,0,191318,3827595.38,3849272.55,3826894.57,-0.5872,False,-22606.88,شاخص بازار دوم,0,0,0,0

In [ ]:
df['Value'] = df['xDrNivJIdx004']

In [60]:
raw_data = get_tmc_data_by_url('https://cdn.tsetmc.com/api/ClosingPrice/GetRelatedCompany/68')

In [52]:
fund_list = get_fund_list_data()

In [55]:
t3 = set(pd.DataFrame(fund_list)['insCode'])

In [22]:
z = pd.DataFrame(raw_data['relatedCompany'])

In [23]:
x = pd.DataFrame(raw_data['relatedCompanyThirtyDayHistory'])

In [47]:
z.head(2)

,instrumentState,instrument,lastHEven,finalLastDate,nvt,mop,pRedTran,thirtyDayClosingHistory,priceChange,priceMin,priceMax,priceYesterday,priceFirst,last,id,insCode,dEven,hEven,pClosing,iClose,yClose,pDrCotVal,zTotTran,qTotTran5J,qTotCap
0,None,"{'cValMne': None, 'lVal18': None, 'cSocCSAC': ...",0,0,0.0,0,0.0,None,-220.0,18370.0,19200.0,19110.0,0.0,False,0,17914401175772326,0,0,18770.0,False,False,18890.0,13835.0,212282977.0,3.983956e+12
1,None,"{'cValMne': None, 'lVal18': None, 'cSocCSAC': ...",0,0,0.0,0,0.0,None,16.0,16171.0,17000.0,16734.0,0.0,False,0,41927452991671109,0,0,16635.0,False,False,16750.0,4739.0,63515239.0,1.056563e+12

In [51]:
x[x['insCode'] == '41927452991671109']

,id,insCode,dEven,hEven,pClosing,iClose,yClose,pDrCotVal,zTotTran,qTotTran5J,qTotCap
2927,0,41927452991671109,20240501,0,20403.0,False,False,0.0,0.0,0.0,0.0
2928,0,41927452991671109,20240505,0,20349.0,False,False,0.0,0.0,0.0,0.0
2929,0,41927452991671109,20240506,0,19992.0,False,False,0.0,0.0,0.0,0.0
2930,0,41927452991671109,20240507,0,19833.0,False,False,0.0,0.0,0.0,0.0
2931,0,41927452991671109,20240508,0,19586.0,False,False,0.0,0.0,0.0,0.0
2932,0,41927452991671109,20240511,0,19356.0,False,False,0.0,0.0,0.0,0.0
2933,0,41927452991671109,20240512,0,19198.0,False,False,0.0,0.0,0.0,0.0
2934,0,41927452991671109,20240513,0,18759.0,False,False,0.0,0.0,0.0,0.0
2935,0,41927452991671109,20240514,0,18851.0,False,False,0.0,0.0,0.0,0.0
2936,0,41927452991671109,20240515,0,18700.0,False,False,0.0,0.0,0.0,0.0
2937,0,41927452991671109,20240518,0,18444.0,False,False,0.0,0.0,0.0,0.0
2938,0,41927452991671109,20240519,0,17343.0,False,False,0.0,0.0,0.0,0.0
2939,0,41927452991671109,20240520,0,17343.0,False,False,0.0,0.0,0.0,0.0
2940,0,41927452991671109,20240521,0,17466.0,False,False,0.0,0.0,0.0,0.0
2941,0,41927452991671109,20240525,0,16879.0,False,False,0.0,0.0,0.0,0.0
2942,0,41927452991671109,20240526,0,16222.0,False,False,0.0,0.0,0.0,0.0
2943,0,41927452991671109,20240527,0,16000.0,False,False,0.0,0.0,0.0,0.0
2944,0,41927452991671109,20240528,0,16639.0,False,False,0.0,0.0,0.0,0.0
2945,0,41927452991671109,20240529,0,17304.0,False,False,0.0,0.0,0.0,0.0
2946,0,41927452991671109,20240601,0,17430.0,False,False,0.0,0.0,0.0,0.0
2947,0,41927452991671109,20240602,0,17472.0,False,False,0.0,0.0,0.0,0.0
2948,0,41927452991671109,20240605,0,17371.0,False,False,0.0,0.0,0.0,0.0
2949,0,41927452991671109,20240608,0,16778.0,False,False,0.0,0.0,0.0,0.0
2950,0,41927452991671109,20240609,0,17287.0,False,False,0.0,0.0,0.0,0.0
2951,0,41927452991671109,20240610,0,17954.0,False,False,0.0,0.0,0.0,0.0
2952,0,41927452991671109,20240611,0,17687.0,False,False,0.0,0.0,0.0,0.0
2953,0,41927452991671109,20240612,0,17354.0,False,False,0.0,0.0,0.0,0.0
2954,0,41927452991671109,20240615,0,16734.0,False,False,0.0,0.0,0.0,0.0
2955,0,41927452991671109,20240616,0,16635.0,False,False,0.0,0.0,0.0,0.0

In [56]:
t3 - t1

{'12390706505809150',
 '12913156843322499',
 '25559236668122210',
 '28374437855144739',
 '30582275818828857',
 '32469128621155736',
 '33144542989832366',
 '33254899395816171',
 '34144395039913458',
 '38544104313215500',
 '4626686276232042',
 '46700660505281786',
 '51200575796028449',
 '58514988269776425',
 '9089296888187061'}